$black:#2b2735;
$orange:#fe6f61;



// font family
$poppins:'Poppins', sans-serif;
$hind:'Hind', sans-serif;
$opensans:'Open Sans', sans-serif;
$josefina:'Josefin Sans', sans-serif;



// headers

h2{
    font-size: 65px;
    font-family: $hind;
    font-weight: 700;
    color: $black;
    @media (max-width:1200px) {
        font-size: 45px;
    }
    @media(max-width: 768px){
        font-size: 20px;
    }
}