$pink:#FFD0CC;
$pale:#FFECE4;
$beich:#F4EEEC;
$fucsia: #A64E77;
$pink-soft:#D99C9C;
$grey:#DEDBD0;
$gray:#96948e;
$dark:#1F2430;
$background:#fdfcfc;

@import "others/mixins";
@import "others/fonts";
@import "others/default";
@import "others/pages";